@charset "UTF-8";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1366px;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

button {
  border: none;
}
